// ChangePassword.scss

// Define the main container for the change password page
.change-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
   
}

// Style the form container
.change-password-form {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.showPass {
    color: gray;
}

// Style the form inputs
.form-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;

}
